@model IEnumerable<RegistroVacunacion>

@{
    ViewData["Title"] = "Registros de Vacunación";
}

<h1>Registros de Vacunación</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAplicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escuela)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAplicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacuna.NombreVacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escuela.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegistroID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RegistroID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegistroID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
